<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.pl.sphelper">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <provider
            android:name=".GetAwayContentProvider"
            android:authorities="com.pl.sphelper"
            android:exported="false" />
    </application>

</manifest>
